@charset "UTF-8";
@import url('https://nmscd.github.io/No-Mans-Sky-Universal-Font/assets/font/NMSFuturaProBook_Kerned/Web-TT/NMSFuturaProBook_Kerned.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-size: 2em;
  font-family: NMSFuturaProBook, Helvetica, sans-serif;
}

.App-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
