@charset "UTF-8";
@import url('https://nmscd.github.io/No-Mans-Sky-Universal-Font/assets/font/NMSFuturaProBook_Kerned/Web-TT/NMSFuturaProBook_Kerned.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-size: 2em;
  font-family: NMSFuturaProBook, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
   font-family: 'Glyphs';
   src: url(../../../public/NMS-Glyphs-Mono.ttf) format('truetype');
}

.cords {
  display: inline-block;
  margin: 1.2rem auto;
  border: none;
  padding: 0;
  width: 18ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 28ch 2px no-repeat;
  font-family: Glyphs, Helvetica, sans-serif;
  letter-spacing: 0.5ch;
  text-transform: uppercase;
}
.cords:focus {
  outline: none;
  color: #fff;
}
.cords::placeholder {
  letter-spacing: 0.5ch;
}

@layer components {
  .input {
    font-family: NMSFuturaProBook, Helvetica, sans-serif;
  }
}
